header {
  /* layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
   /* formatting */
  padding: 0 50px;
  border-bottom: 1px solid #a55e3f;
  height: 90px;
}
header nav {
  display: flex;
  gap: 30px;
  position: relative;
}
header a {
  text-transform: uppercase ;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #a55e3f;
  padding: 0 3px; }
.underline {
  display: flex;
  height: 2px;
  width: 40px;
  background-color: blue;
}

